<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
    <p> <input type="text" name="email"> </p>
    <p> <input type="text" name="password"> </p>
    <p> <input type="submit" value="Log In"> </p>
</form>